/*
  input boxes
  buttons
*/
html {
	background: linear-gradient(#2A1B3D, 70%, #44318D);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

header {
	color: white;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 50px;
}

button {
	background-color: transparent;
	color: white;
	border-color: white;
	border-radius: 10px;
}

#entireContent {
	color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#formSection {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-top: 5px;
	margin-bottom: 15px;
}

#addSong {
	width: 100px;
	margin: 20px;
}

#songListSection {
	width: 30%;
}

.deleteButton {
	margin-top: 5px;
	margin-bottom: 10px;
}

#infoSection {
	width: 40%;
}

.itemContainer {
	display: flex;
	justify-content: flex-start;
}

.infoValue {
	margin-left: 5px;
}

.saveButton {
	margin-top: 5px;
	margin-bottom: 10px;
}